<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="topnav">
            <a href="/" class="active">Online Store Project</a>
            <a href="/categories?categoryID=womens">Womens</a>
            <a href="/categories?categoryID=mens">Mens</a>
        </div>