<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <!-- <div class="header-wrapper">
            <span class="headerNotification">Hi! I'm header.ejs</span>
        </div> -->

        <div class="topnav">
            <a href="/" class="active">Online Store Project</a>
            <a href="/categoriesWomens">Womens</a>
            <a href="/categoriesMens">Mens</a>
        </div>